<footer class ="footer">
  <div class="container">
    <div class ="comment_card">
    <ul class="comment_list">
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Cafe</h5>
        <h6 class="comment_list_item_point">Chicago</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class ="comment_list_item_openning">
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class ="comment_contact_list">
          <li class ="comment_contact_list_item"><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li class ="comment_contact_list_item"><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Food Truck</h5>
        <h6 class="comment_list_item_point">Los Angeles</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class ="comment_list_item_openning">
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class ="comment_contact_list">
          <li><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Cafe</h5>
        <h6 class="comment_list_item_point">Chicago</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class ="comment_list_item_openning">
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class ="comment_contact_list">
          <li class ="comment_contact_list_item"><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li class ="comment_contact_list_item"><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class ="comment_button_list">
      <li class ="comment_button_list_item">
    <button type ="button" class ="comment_button_list_item_button">Our locations
      <svg width ="8" height ="16" viewBox ="0 0 24 48" class ="comment_button_list_item_button_icon">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
    </button>
    </li>
    <li class ="comment_button_list_item">
    <button type ="button" class ="comment_button_list_item_button">Franchise
      <svg width ="8" height ="16" viewBox ="0 0 24 48" class ="comment_button_list_item_button_icon">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
    </button>
    </li>
    </ul>
    <div class ="footer_container">
      <div class ="footer_title_container">
        <h1 class="footer_title">Homemade Ice Cream made</h1>
        <span class ="footer_title_red">with Passion</span>
        </div>
        <div class ="footer_link_container">
        <ul class ="footer_list">
            <li class ="footer_list_item">
                <a href ="#" class ="footer_list_item_link">
                    <svg class ="footer_list_item_link_icon" width ="32" height = "32" viewBox ="0 0 19 32">
                        <use href ="./icons/icomoon/symbol-defs.svg#icon-vector"></use>
                    </svg>
                </a>
            </li>
            <li class ="footer_list_item">
                <a href ="#" class ="footer_list_item_link">
                    <svg class ="footer_list_item_link_icon" width ="32" height = "32" viewBox ="0 0 19 32">
                        <use href ="./icons/icomoon/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class ="footer_list_item">
                <a href ="#" class ="footer_list_item_link">
                    <svg class ="footer_list_item_link_icon" width ="32" height = "32" viewBox ="0 0 19 32">
                        <use href ="./icons/icomoon/symbol-defs.svg#icon-vector-1"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class ="footer_contact">Fell free to contact <a href ="tel: +610383766284" class ="footer_contact_link">+61 (0) 383 766 284</a></p>
        </div>
        </div>
    </div>
    <small class ="footer_copyright">(C) 2019 - IceCream. All rights reserved. </small>
</footer>