  <div class ="header_background">
    <header class="header">
      <div class="container header_position">
        <a href="#" class="logo">
          <img src="./images/logo_icecream.png" />
        </a>
        <nav class="navigation">
          <ul class="navigation_list">
            <li class="navigation_item">
              <a href="#" class="navigation_link">Home</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">About Us</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">How it's Made?</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">Our Products</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">Contact</a>
            </li>
          </ul>
        </nav>
        <button type="button" class ="burger_menu js-open-menu"
                      aria-expanded="false"
          aria-controls="mobile_tablet_menu.js">
          <svg width ="20" height ="12">
            <use href ="./icons/icomoon/symbol-defs.svg#icon-Burger" aria-expanded="false"
          aria-controls="modal_menu.js"></use>
          </svg>
        </button>
        <button type="button" class ="header_button">Buy now
          <svg width ="4" height ="8" viewBox ="0 0 24 48" class ="header_button_icon">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
        </button>
      </div>
      <section class="hero">
  <div class="container">
    <div class="hero_main">
      <h1 class="hero_main_title">Ice Cream made with <span>Passion</span></h1>
      <div class ="hero_main_buttons">
          <button type ="button" class="hero_main_buttons_button">
            Products
          </button>
          <button type ="button" class="hero_main_buttons_button">
            How it's made
          </button>
          </div>
    </div>
    <div class="hero_bioeco">
      <picture class="hero_bioeco_image">
        <source
          srcset="
            ./images/milkdesktop@2x.png 2x,
            ./images/milkdesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/milktablet@2x.png 2x,
            ./images/milktablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/milkdesktop@1x.png" />
      </picture>
      <div class ="hero_bioeco_container">
        <p class="hero_bioeco_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero_bioeco_button">
        <img src ="./images/arrowrighttablet@1x.png" alt =""/>
      </button>
      </div>
    </div>
    <div class="hero_icecream">
      <picture class="hero_icecream_image">
        <source
          srcset="
            ./images/icecreamdesktop@2x.png 2x,
            ./images/icecreamdesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/icecreamtablet@2x.png 2x,
            ./images/icecreamtablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/icecreammobile@2x.png 2x,
            ./images/icecreammobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/icecreamdesktop@1x.png" />
      </picture>
    </div>
    <div class="hero_number">
      <ul class="hero_number_list">
        <li class="hero_number_list_item">
          <span class="hero_number_list_item_number">16</span>
          <p class="hero_number_list_item_text">cafes</p>
          <svg class ="hero_number_list_item_icon">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-Ellipse-1"></use>
          </svg>
        </li>
        <li class="hero_number_list_item">
          <span class="hero_number_list_item_number">23</span>
          <p class="hero_number_list_item_text">food trucks</p>
          <svg class ="hero_number_list_item_icon">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-Ellipse-1"></use>
          </svg>
        </li>
      </ul>
      <picture class="hero_number_taste_image">
        <source
          srcset="
            ./images/tastedesktop@2x.png 2x,
            ./images/tastedesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tastetablet@2x.png 2x,
            ./images/tastetablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/tastedesktop@1x.png" />
      </picture>
    </div>
  </div>
</section>

    </header>
    </div>    
