<section class="hero">
  <div class="container">
    <div class="hero_main">
      <h1 class="hero_main_title">Ice Cream made with <span>Passion</span></h1>
      <div class ="hero_main_buttons">
          <button type ="button" class="hero_main_buttons_button">
            Products
          </button>
          <button type ="button" class="hero_main_buttons_button">
            How it's made
          </button>
          </div>
    </div>
    <div class="hero_bioeco">
      <picture class="hero_bioeco_image">
        <source
          srcset="
            ./images/milkdesktop@2x.png 2x,
            ./images/milkdesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/milktablet@2x.png 2x,
            ./images/milktablet@1x.png 1x
          "
          media="(min-width: 772px)"
        />
        <img src="./images/milkdesktop@1x.png" />
      </picture>
      <div class ="hero_bioeco_container">
        <p class="hero_bioeco_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero_bioeco_button">
        <img src ="../arrowbuttontablet@1x.png" alt =""/>
      </button>
      </div>
    </div>
    <div class="hero_icecream">
      <picture class="hero_icecream_image">
        <source
          srcset="
            ./images/icecreamdesktop@2x.png 2x,
            ./images/icecreamdesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/icecreamtablet@2x.png 2x,
            ./images/icecreamtablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/icecreammobile@2x.png 2x,
            ./images/icecreammobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/icecreamdesktop@1x.png" />
      </picture>
    </div>
    <div class="hero_number">
      <ul class="hero_number_list">
        <li class="hero_number_list_item">
          <span class="hero_number_list_item_number">16</span>
          <p class="hero_number_list_item_text">cafes</p>
        </li>
        <li class="hero_number_list_item">
          <span class="hero_number_list_item_number">23</span>
          <p class="hero_number_list_item_text">food trucks</p>
        </li>
      </ul>
      <picture class="hero_number_taste_image">
        <source
          srcset="
            ./images/tastedesktop@2x.png 2x,
            ./images/tastedesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/bioecotablet@2x.png 2x,
            ./images/bioecotablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/tastedesktop@1x.png" />
      </picture>
    </div>
  </div>
</section>
