<section class ="location">
    <div class="container">
    <div class ="comment_card">
    <ul class="comment_list">
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Cafe</h5>
        <h6 class="comment_list_item_point">Chicago</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class ="comment_list_item_openning">
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class ="comment_contact_list">
          <li class ="comment_contact_list_item"><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li class ="comment_contact_list_item"><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Food Truck</h5>
        <h6 class="comment_list_item_point">Los Angeles</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class ="comment_list_item_openning">
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class ="comment_contact_list">
          <li><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Cafe</h5>
        <h6 class="comment_list_item_point">Chicago</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class ="comment_list_item_openning">
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class ="comment_contact_list">
          <li class ="comment_contact_list_item"><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li class ="comment_contact_list_item"><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class ="comment_button_list">
      <li class ="comment_button_list_item">
    <button type ="button" class ="comment_button_list_item_button">Our locations
      <svg width ="8" height ="16" viewBox ="0 0 24 48" class ="comment_button_list_item_button_icon">
            <use href ="./icons/icomoon5/symbol-defs.svg#icon-Vector-1-2"></use>
          </svg>
    </button>
    </li>
    <li class ="comment_button_list_item">
    <button type ="button" class ="comment_button_list_item_button">Franchise
      <svg width ="8" height ="16" viewBox ="0 0 24 48" class ="comment_button_list_item_button_icon">
            <use href ="./icons/icomoon5/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
    </button>
    </li>
    </ul>
</section>