<div class ="menu js-menu-container" id ="mobile-menu">
    <button class ="menu_close_button js-close-menu">
        <svg width ="14" height ="14" viewBox ="0 0 200 200">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
    <button type="button" class ="menu_button">Buy now
      <svg width ="6" height ="12" viewBox ="0 0 24 48">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
    </button>
    <nav class="menu_navigation">
          <ul class="menu_navigation_list">
            <li class="menu_navigation_item">
              <a href="#" class="navigation_link">Home</a>
            </li>
            <li class="menu_navigation_item">
              <a href="#" class="navigation_link">About Us</a>
            </li>
            <li class="menu_navigation_item">
              <a href="#" class="navigation_link">How it's Made?</a>
            </li>
            <li class="menu_navigation_item">
              <a href="#" class="navigation_link">Our Products</a>
            </li>
            <li class="menu_navigation_item">
              <a href="#" class="navigation_link">Contact</a>
            </li>
          </ul>
        </nav>
</div>