<section class="products">
  <div class="container">
    <h3 class="products_title">100% natural</h3>
    <h2 class="products_big_title">Products</h2>
    <ul class="products_list">
      <li class="products_list_item">
        <picture class="product_list_item_image">
        <source
          srcset="
            ./images/icecreamproductdesktop@2x.png 2x,
            ./images/icecreamproductdesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/icecreamproducttablet@2x.png 2x,
            ./images/icecreamproducttablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/icecreamproductmobile@2x.png 2x,
            ./images/icecreamproductmobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/icecreamproductdesktop@1x.png" />
      </picture>
      <div class ="products_list_item_container">
        <h4 class="products_list_item_title">Ice Cream</h4>
        <img src ="./images/threepoints.svg" class ="products_list_item_points" />
        <p class="products_list_item_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="products_list_item_button">
          <picture class="product_list_item_button_image">
        <source
          srcset="
            ./images/arrowbuttondesktop@2x.png 2x,
            ./images/arrowbuttondesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/arrowbuttontablet@2x.png 2x,
            ./images/arrowbuttontablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/arrowbuttonmobile@2x.png 2x,
            ./images/arrowbuttonmobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/arrowbuttondesktop@1x.png" />
      </picture>
        </button>
        </div>
      </li>
      <li class="products_list_item">
        <picture class="product_list_item_image">
        <source
          srcset="
            ./images/icecoffeeproductdesktop@2x.png 2x,
            ./images/icecoffeeproductdesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/icecoffeeproducttablet@2x.png 2x,
            ./images/icecoffeeproducttablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/icecoffeeproductmobile@2x.png 2x,
            ./images/icecoffeeproductmobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/icecoffeeproductdesktop@1x.png" />
      </picture>
      <div class ="products_list_item_container">
        <h4 class="products_list_item_title">Ice Coffee</h4>
        <img src ="./images/threepoints.svg" class ="products_list_item_points" />
        <p class="products_list_item_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="products_list_item_button">
          <picture class="product_list_item_button_image">
        <source
          srcset="
            ./images/arrowbuttondesktop@2x.png 2x,
            ./images/arrowbuttondesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/arrowbuttontablet@2x.png 2x,
            ./images/arrowbuttontablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/arrowbuttonmobile@2x.png 2x,
            ./images/arrowbuttonmobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/arrowbuttondesktop@1x.png" />
      </picture>
        </button>
        </div>
      </li>
      <li class="products_list_item">
        <picture class="product_list_item_image">
        <source
          srcset="
            ./images/milkshakeproductdesktop@2x.png 2x,
            ./images/milkshakeproductdesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/milkshakeproducttablet@2x.png 2x,
            ./images/milkshakeproducttablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/milkshakeproductmobile@2x.png 2x,
            ./images/milkshakeproductmobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/milkshakeproductdesktop@1x.png" />
      </picture>
      <div class ="products_list_item_container">
        <h4 class="products_list_item_title">Milkshake</h4>
        <img src ="./images/threepoints.svg" class ="products_list_item_points" />
        <p class="products_list_item_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="products_list_item_button">
          <picture class="product_list_item_button_image">
        <source
          srcset="
            ./images/arrowbuttondesktop@2x.png 2x,
            ./images/arrowbuttondesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/arrowbuttontablet@2x.png 2x,
            ./images/arrowbuttontablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/arrowbuttonmobile@2x.png 2x,
            ./images/arrowbuttonmobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/arrowbuttondesktop@1x.png" />
      </picture>
        </button>
        </div>
      </li>
    </ul>
  </div>
</section>
