<section class="tradition">
  <div class="container">
    <h3 class="tradition_title">Tradition and Love</h3>
    <h2 class="tradition_big_title">How it's Made?</h2>
    <div class="tradition_card">
      <div class ="tradition_card_container">
      <picture class="tradition_card_image">
        <source
          srcset="
            ./images/milkbiodesktop@2x.png 2x,
            ./images/milkbiodesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/milkbiotablet@2x.png 2x,
            ./images/milkbiotablet@1x.png 1x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/milkbiomobile@2x.png 2x,
            ./images/milkbiomobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/milkbiomobile@1x.png" />
      </picture>
      <div class ="tradition_card_area_container">
      <p class="tradition_card_text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="tradition_card_text2">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button type="button" class="tradition_card_button">Read more
        <svg width ="8" height ="16" viewBox ="0 0 24 48" class ="tradition_card_button_icon">
            <use href ="./icons/icomoon4/symbol-defs.svg#icon-Vector-1-1"></use>
          </svg>
      </button>
      </div>
      </div>
      <ul class="tradition_list">
        <li class="tradition_list_item">
          <picture class ="tradition_list_item_image">
            <source srcset ="./images/cupdesktop@2x.png 2x, ./images/cupdesktop@1x.png 1x" media ="(min-width: 1280px)">
            <source srcset ="./images/cuptablet@2x.png 2x, ./images/cuptablet@1x.png 1x" media ="(min-width: 768px)">
            <source srcset ="./images/cupmobile@2x.png 2x, ./images/cupmobile@1x.png 1x" media ="(min-width: 320px)">
            <img src ="./images/cupmobile@1x.png" />
          </picture>
          <h4 class="tradition_list_item_number">721</h4>
          <p class="tradition_list_item_text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="tradition_list_item">
          <picture class ="tradition_list_item_image">
            <source srcset ="./images/bucketdesktop@2x.png 2x, ./images/bucketdesktop@1x.png 1x" media ="(min-width: 1280px)">
            <source srcset ="./images/buckettablet@2x.png 2x, ./images/buckettablet@1x.png 1x" media ="(min-width: 768px)">
            <source srcset ="./images/bucketmobile@2x.png 2x, ./images/bucketmobile@1x.png 1x" media ="(min-width: 320px)">
            <img src ="./images/bucketmobile@1x.png" />
          </picture>
          <h4 class="tradition_list_item_number">16kg</h4>
          <p class="tradition_list_item_text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="tradition_list_item">
          <picture class ="tradition_list_item_image">
            <source srcset ="./images/candydesktop@2x.png 2x, ./images/candydesktop@1x.png 1x" media ="(min-width: 1280px)">
            <source srcset ="./images/candytablet@2x.png 2x, ./images/candytablet@1x.png 1x" media ="(min-width: 768px)">
            <source srcset ="./images/candymobile@2x.png 2x, ./images/candymobile@1x.png 1x" media ="(min-width: 320px)">
            <img src ="./images/candymobile@1x.png" />
          </picture>
          <h4 class="tradition_list_item_number">84</h4>
          <p class="tradition_list_item_text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
      <picture class="tradition_image">
        <source srcset ="./images/icepicturesdesktop@2x.png 2x, ./images/icepicturesdesktop@1x.png 1x" 
        media ="(min-width: 1280px)"/>
        <source srcset ="./images/icepicturestablet@2x.png 2x, ./images/icepicturestablet@1x.png 1x" 
        media ="(min-width: 768px)"/>
        <source srcset ="./images/icepicturesmobile@2x.png 2x, ./images/icepicturesmobile@1x.png 1x" 
        media ="(min-width: 320px)"/>
        <img src ="./images/icepicturesmobile@1x.png" />
      </picture>
    </div>
  </div>
</section>
