.location {
  max-width: 320px;
  margin: 0 auto;
  background-color: #fff5f6;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
.comment_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
  }
}
.comment_list {
  position: relative;
  top: -104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 54px;
  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    top: -78px;
    flex-direction: row;
    column-gap: 20px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    top: -102px;
    flex-direction: row;
    column-gap: 31px;
    max-width: 1280px;
  }
}
.comment_list_item {
  width: 220px;
  height: 427px;
  border-radius: 24px;
  padding: 43px 21px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  background: #fff;
  @media screen and (min-width: 768px) {
    height: 544px;
    padding: 50px 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    height: 572px;
    padding: 51px 43px 62px 44px;
  }
}
.comment_list_item_title {
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.04em;
  }
}
.comment_list_item:nth-child(1) .comment_list_item_title,
.comment_list_item:nth-child(3) .comment_list_item_title {
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  @media screen and (min-width: 768px) {
    width: 73px;
    height: 28px;
  }
}
.comment_list_item:nth-child(2) .comment_list_item_title {
  width: 130px;
  height: 16px;
  background: #c2e297;
  @media screen and (min-width: 768px) {
    width: 138px;
    height: 28px;
  }
}
.comment_list_item_point {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
.comment_list_item_text {
  font-weight: 500;
  font-size: 12px;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.04em;
  }
}
.comment_list_item_openning {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.comment_list_item_days {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.04em;
  }
}

.comment_list_item_time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.04em;
  }
}
.comment_contact_list {
  padding-top: 25px;
}
.comment_contact_list_item_link {
  font-weight: 500;
  font-size: 12px;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.83;
  }
}
.comment_button_list {
  position: relative;
  top: -104px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 13px;

  width: 100%;
  @media screen and (min-width: 768px) {
    top: -78px;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
  }
  @media screen and (min-width: 1280px) {
    top: -86px;
    column-gap: 15px;
  }
}
.comment_button_list_item_button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13.17px;
  width: 161px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  @media screen and (min-width: 768px) {
    column-gap: 13.62px;
  }
}
.comment_button_list_item:nth-child(1) .comment_button_list_item_button {
  background: #d41342;
  color: #fff;
  @media screen and (min-width: 768px) {
    width: 191px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}
.comment_button_list_item:nth-child(2) .comment_button_list_item_button {
  background: #fff;
  color: #d41342;
  @media screen and (min-width: 768px) {
    width: 174px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
  }
}
.comment_button_list_item:nth-child(1) .comment_button_list_item_button_icon {
  stroke: var(--color1, #ffffff);
}
.comment_button_list_item:nth-child(2) .comment_button_list_item_button_icon {
  stroke: var(--color3, #d41443);
}
.comment_icon_dots {
  width: 32px;
  height: 4px;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.comment_icon_home {
  width: 72px;
  height: 12px;
  margin-bottom: 87px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
